#footer-info{float:none !important}.current_year{display:inline}a.docs{color:red !important;font-size:25px}.sc_time{display:inline-block;padding-right:7px}.page-template-page-template-blank.page-template-page-template-blank-php #footer-editor-info {
    display: none!important;
}